<div class="chat-container">
  <!-- Sidebar with chat list -->

  <div class="chat-list">
    <div *ngFor="let user of users" class="user-card" (click)="showChat(user.username)">
      {{user.username}}
    </div>
  </div>

  <!-- Main chat area -->
  <div class="chat-area">
    <div class="chat-name" [(ngModel)]="chatId" ngDefaultControl>
      <p>{{chatId}}</p>
    </div>
    <div class="message-list">
      <div *ngFor="let message of messages">
        <strong>{{ message.senderUsername }}: {{message.content}}</strong> <br />
      </div>
    </div>
    <!-- Input bar -->
    <div class="message-input">
      <input ngDefaultControl [(ngModel)]="newMessage" placeholder="Type your message..."/>
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
