<div class="chat-container">
  <!-- Sidebar with user list -->
  <div class="chat-list">
    <app-searchbar></app-searchbar>
    <div class="i-wanna-be-your-dog"></div>
    <div *ngFor="let user of users" class="user-card" (click)="openChat(user.username)">
      {{ user.username }}
    </div>
  </div>

  <!-- Main chat area -->
  <div class="chat-area">
    <!-- Centered message when no recipient is selected -->
    <div *ngIf="!recipientUser" class="center-message">
      <p>Select a user to start chatting...</p>
    </div>

    <!-- Chat content when a recipient is selected -->
    <ng-container *ngIf="recipientUser">
      <div class="chat-header">
        <h3>{{ recipientUser }}</h3>
      </div>

      <div class="message-list" #messageList>
        <div
          *ngFor="let message of messages"
          class="message"
          [ngClass]="{'my-message': message.senderUsername === currentUser.username, 'other-message': message.senderUsername !== currentUser.username}"
        >
          {{ message.content }}
          <span class="timestamp">{{ message.timestamp | localTime: 'HH:mm' }}</span>

        </div>
      </div>
      <!-- Input area -->
      <div class="message-input">
        <input
          [(ngModel)]="newMessage"
          placeholder="Type your message..."
          class="input-field"
          (keydown.enter)="sendMessage()"
        />
      </div>

    </ng-container>
  </div>
</div>
