/* Container for the entire chat */
.chat-container {
  display: flex;
  height: 93vh;
}

/* Sidebar for chat list */
.chat-list {
  width: 300px;
  max-width: 400px;
  min-width: 200px;
  background-color: #1f1f1f; /* Adjust the color as needed */
  padding: 20px;
  resize: horizontal;
  overflow-y: auto; /* Allow scrolling if chat list is long */
}

.chat-list h3{
  color: white;
  font-family: Arial;
}

/* Chat area */
.chat-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Takes up the remaining space */
  padding: 20px;
  box-sizing: border-box;
  background-color: #2b2b2b; /* Adjust as needed */
}

/* Messages container */
.message-list {
  flex-grow: 1; /* This ensures the message list takes up the available space */
  overflow-y: auto;
  margin-bottom: 10px; /* Adds some space before the input bar */
  color: white;
}

/* Message input */
.message-input {
  display: flex;
  padding: 10px 0;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.message-input button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
