.searchbar {
  width: auto;
  max-width: 530px;
  height: 30px;
  align-items: center;
  display: flex;
  background-color: #3e3e3e;
  border-radius: 20px;
}

.button-image{
  width: 20px;
  padding-top: 3px;
}

.input-bar {
  border: none;
  width: 90%;
  margin-left: 10px;
  background-color: #3e3e3e;
  color: white;
  font-size: 12px;
}

.input-bar:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
