/* Top bar container */
.top-bar {
  width: 100%; /* Ensure the bar spans the entire width of the page */
  height: 60px;  /* Height of the top bar */
  background-color: #1a202c;  /* Background color */
  display: flex;
  justify-content: space-between;  /* Space between username and other info */
  align-items: center;  /* Vertically center content */
  padding: 0 20px;  /* Add some padding on the sides */
  color: white;  /* Text color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Optional shadow for depth */
  box-sizing: border-box;  /* Ensure padding is included in the element's width */
  overflow: hidden; /* Prevent overflow issues */
}

/* Username styling */
.user-info .username {
  font-size: 1.2em;
  font-weight: bold;
}

/* Extra information styling */
.extra-info span {
  margin-right: 20px;
  cursor: pointer;
}

/* Logout button styling */
.extra-info button {
  background-color: #7e98df;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button{
  background-color: #7e98df;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.extra-info button:hover {
  background-color: #5e79bf;
}
