/* Login Container */
p{
  color: white;
}

.login-container {
  background-color: #1a202c;
  border: 1px solid #7e98df;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto; /* This will center it horizontally */
  position: absolute; /* Make it absolute */
  top: 50%; /* Position it vertically */
  left: 50%; /* Position it horizontally */
  transform: translate(-50%, -50%); /* Adjust for element width and height */
}


/* Login Title */
.login-title {
  color: #7e98df;
  text-align: center;
  margin-bottom: 30px;  /* Increased margin */
  font-size: 1.8em;  /* Larger font size */
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Input Fields */
.login-input {
  padding: 15px;  /* Increased padding */
  margin-bottom: 20px;  /* Increased margin */
  border: 1px solid #4a5568;
  border-radius: 4px;
  background-color: #2d3748;
  color: #edf2f7;
  font-size: 1.2em;  /* Larger font size */
  transition: border-color 0.3s ease;
}

.login-input:focus {
  border-color: #7e98df;
  outline: none;
}

/* Submit Button */
.login-button {
  padding: 15px;  /* Increased padding */
  border: none;
  border-radius: 4px;
  background-color: #7e98df;
  color: #1a202c;
  font-size: 1.2em;  /* Larger font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #5e79bf;
  color: #edf2f7;
}
